@import "tailwindcss";

/* Custom scrollbar cho PC/Web */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #b0b8c8;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8892a5;
}